.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 15rem;
    min-height: 350px;     
}
.custom-card{
    background-color: rgba(236, 236, 236, 0.9);
}
.custom-card-title{
    margin-bottom: 0px;
}
.custom-card-body{    
    padding: 10px;
}
.custom-card-text{    
    font-size: 10pt;
}
.custom-container{
    display: flex;   
    flex-flow: row wrap;    
}
.date-text{
    margin-left: 30px;
}
.bottom-card-block{
    padding: 10px;    
    align-self: flex-end;
}
.custom-img{
    height: 160px;
    width: 238px;
}