.card-buttons{
    display: flex;    
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}
.users-card{
    min-height: 350px;
}

.ad-status-block{
    display: inline-block;   
}
.approved-status{
    color: seagreen;
}
.onmoderation-status{
    color: #ebb000
}
.rejected-status{
    color: #dc3545;
    /* color: firebrick; */
}