
body{
         background-color: gray; 

        /* background-image: url(https://images.pexels.com/photos/1510543/pexels-photo-1510543.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); */
        /* background-image: url(https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397215743066/Full-moon-walking-014.jpg); */
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}

